#root {
  max-width: 100%;
  text-align: center;
}
.body {
    margin: 0;
}
/* .App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: azure;
  min-height: 100vh;
} */
